# Mars Lander - Camera + WiFi (Waveshare config)

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_FREERTOS_HZ=1000
CONFIG_ESP_COREDUMP_ENABLE_TO_NONE=y
CONFIG_ESPTOOLPY_CHIP_REV_MIN=0
CONFIG_ESP_MAIN_TASK_STACK_SIZE=10240

# Chip revision (v1.3 < v3.0)
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_1=y

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_CACHE_WORKAROUND=y

# Camera
CONFIG_CAMERA_XCLK_USE_LEDC=y
CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y

# WiFi
CONFIG_ESP_WIFI_SOFTAP_SUPPORT=n

# Performance
CONFIG_COMPILER_OPTIMIZATION_PERF=y
